{% extends 'base.html' %}

{% load static %}

{% block title %}
- Imóveis
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col s12 m10 offset-m1 l10 offset-l1">
        <div class="section">
            <h4 class="medium">Imóveis</h4>
        </div>
        <div class="divider"></div>
    </div>
</div>

<div class="row">
    <div class="col s12 m10 offset-m1 l10 offset-l1">
        <nav>
            <div class="nav-wrapper white">
                <form method="get">
                    <div class="input-field">
                        <input id="pesquisa" name="pesquisa" type="search" value="{{ pesquisa }}"
                               placeholder="Pesquise por título ou descrição">
                        <label class="label-icon valign-wrapper" for="pesquisa">
                            <i class="material-icons grey-text lighten-3">search</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>
    </div>
</div>
{% if request.user.is_authenticated %}
<div class="row">
    <div class="col s12 m10 offset-m1 l10 offset-l1">
        <a href="{% url 'imovel_adicionar' %}" class="waves-effect waves-light btn btn-primary orange">
            <i class="material-icons left">add</i>
            Novo
        </a>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col s12 m10 offset-m1 l10 offset-l1">
        <div class="row">
            {% for imovel in pagina_atual %}
                <div class="col s12">
                    <div class="card z-depth-3">
                        <div class="card-image">
                            <img src="{{ imovel.foto.url }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title"><b>{{ imovel.titulo }}</b></span>
                            <p><b>Tipo: </b>{{ imovel.get_tipo_display }}</p>
                            <p><b>Área: </b>{{ imovel.area }} m²</p>
                            <p><b>Quartos: </b>{{ imovel.qt_quartos }}</p>
                            <p><b>Vaga garagem: </b>{{ imovel.qt_vagas_garagem}}</p>
                            <p><b>Aluguel: </b>R$ {{ imovel.vl_aluguel }}</p>
                            <p><b>Telefone: </b>
                                <span {% if imovel.telefone|length == 11 %}
                                            class="tel11"
                                        {% elif imovel.telefone|length == 10 %}
                                            class="tel10"
                                        {% endif %}>
                                {{ imovel.telefone }}
                                </span>
                            </p>
                            <p><b>Local: </b>{{ imovel.bairro }} - {{ imovel.uf }}</p>
                            <span><b><u>Descrição</u></b></span>
                            <p>{{ imovel.descricao }}</p>
                        </div>
                        {% if request.user.is_authenticated %}
                        <div class="card-action">
                            <a href="{% url 'imovel_alterar' imovel.pk %}" class="btn orange">
                                <i class="left material-icons">edit</i>Editar
                            </a>
                            <a href="{% url 'imovel_excluir' imovel.pk %}" class="btn orange">
                                <i class="left material-icons">delete</i>Excluir
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% include 'paginador.html' %}

{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>
<script src="{% static 'core/js/formata_texto.js' %}"></script>
{% endblock script %}